:root {
	--normal-text: rgb(220, 220, 220);
	--bright-text: rgb(250, 250, 250);
	--dimmed-text: rgb(180, 180, 180);
	--main-background: rgb(35, 35, 35);
	--tile-fallback: rgb(170, 70, 50);
}

html {
	font-family: System-UI, Verdana, sans-serif;
	font-size: 12pt;
	color: var(--normal-text);
	background-color: var(--main-background);
}

.topBanner {
	letter-spacing: 0.1em;
	text-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	color: var(--bright-text);
}

.tileRow a {
	text-decoration: none;
	color: var(--bright-text);
	background-color: var(--tile-fallback);
}

.tileRow div {
	background-color: rgba(0, 0, 0, 0.3);
	backdrop-filter: blur(8px);
}